html,body{
  margin:0;
  width:100%;
  height:100%;
  font-family:'sans1','sans2',sans-serif;
  font-weight: normal;
  overflow-x: hidden;
}
*{
  box-sizing: border-box;
}
@media only screen and (min-width: 769px) {
  #div3 {
    height:950px;
  }
  #mapa{
      height:500px;
      width:70%;
      float:right;
  }
  .galeria{
    width:45%;
  }
}
@media only screen and (min-width: 863px) {
  #mapa{
      width:100%;
  }
}
@media only screen and (max-width:405px){
  .logo{
    width:100%;
  }
}

@font-face {
  font-family: 'titleFont';
  src: url(../font/Amatic-Bold.ttf);
  font-family: 'sans1';
  src: url(../font/REFSAN.TTF);
  font-family: 'sans2';
  src: url(../font/micross.ttf);
  font-family: 'sansBold';
  src: url(../font/REFSANB.TTF);
}

.head{
    font-family: titleFont,sans-serif;
    font-size: 50px;
}
#div1,#div3{
    background-image:url('../img/bg/zdjecie1.png'); 
    background-color: #cccccc; 
    height: 1000px; 
    display:block;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    width:100%;
  }
  #div1{
    transform: translateY(-40px);
  }
  .boldInfo{
    font-family: 'sansBold';
    color:#ffc163;
  }
  #div3{
    background-image:url('../img/bg/zdjecie2.png'); 
    height:1000px;
  }
  #spacer{
    width:100%;
    height:100%;
  }
  .stopka{
      text-align: center;
      color: #636260;
      background-color: #1b2438; 
      clear:both;
  }
  div p{
      color:grey;
      font-size:12px;
      line-height: 15px;
  }
  .stopka p{
      padding:20px;
      margin:0;
      font-size:12px;
  }
  .obr{
      width:100%;
  }
  .button{
      background-color: #ffc163;
      color:white;
      border:none;
      font-size:12px;
      font-family: 'sansBold';
      width:140px;
      height:50px;
  }
  .margines{
      margin-top:70px;
  }
  .white{
      color:white;
  }
  .white:hover{
      color:white;
      text-decoration: none;
  }
  .link{
      font-size:16px;
      text-decoration: none;
  }
  .left{
      text-align: left;
  }
  .center{
      text-align: center;
  }
  .big{
      width:240px;
      height:60px;
  }
  .kontaktNad{
      display: flex;
      align-items:center;
  }
  .ikona1{
    width:40px;
      height:40px;
      position:relative;
      background:#ffc163 center center;
      background-repeat: no-repeat;
      border-radius: 100%;
      display: inline-block;
  }
  .ikona2{
    width:60px;
      height:60px;
      position:relative;
      background:#ffc163 center center;
      background-repeat: no-repeat;
      border-radius: 100%;
      display: block;
      align-items: center;
  }
  .tel,.instagram,.mail,.adres,.godzina,.facebook,.menu,.newsfeed{
    width:20px;
    height:20px;
    background-image:url('../img/ikony/telefon.png');
    position:absolute;
    background-size:100%;
    background-position: center;
    background-repeat:no-repeat;
    top:10px;
    left:10px;
  }
  .menu,.newsfeed{
    background-image: url('../img/ikony/restaurant-interface-symbol-of-fork-and-knife-couple.png');
    width:30px;
    height:30px;
    top:15px;
    left:13px;
  }
  .newsfeed{
    background-image: url('../img/ikony/bullhorn.png');
    left:15px;
  }
  .logo{
    width:343px;
    height:347px;
    background-image:url('../img/logo.png');
    background-size:contain;
    background-position: center;
    background-repeat:no-repeat;
    position:relative;
    top:220px;
  }
  .pozycjaIkon{
    position:absolute;
    top:50px;
  }
  .info1{
    position: relative;
    top:200px;
  }
  .mail{
    background-image:url('../img/ikony/email.png');
  }
  .adres{
    background-image:url('../img/ikony/lokalizacja.png');
    background-size:70%;
  }
  .godzina{
    background-image:url('../img/ikony/godzina.png');
  }
  .instagram{
    background-image:url('../img/ikony/instagram.png');
  }
  .facebook{
    background-image:url('../img/ikony/facebook.png');
    background-size: 45%;
  }
  .marginesLinki{
      margin-bottom: 20px;
  }
  .marginesTrzeciaSekcja{
      margin-top:208px;
  }
  .marginesMapa{
      margin-top:9px;
  }
  .body{
    background-color: black;
    opacity:0.8;
  }
  @media only screen and (max-width: 768px) {
    #div3 {
      height:1200px;
    }
    #mapa{
        height:300px;
    }
    .galeria{
      width:80%;
      left:48%;
    }
  }
  .msg{
    position:fixed;
    top:25%;
    left:50%;
    transform: translate(-50%);
    padding:10px;
	  background:white;
  	width:45%;
  	align-items:center;
    display:none;
    border-radius: 10px;
  }
  .sanBold{
    font-family:"sansBold"; 
    color:#ffc163;
  }
  #flex{
    display:flex;
    width:100%;
    height:100%;
  }
  .right{
    text-align: right;
  }
   .slide{
    width:16%;
    margin:0 0.3% 80px;
    float:left;
    display: block;
  }
