@font-face {
    font-family: 'titleFont';
    src: url('../font/Amatic-Bold.ttf');
}
.head{
    font-family: 'titleFont',sans-serif;
    font-size: 50px;
}
@font-face {
    font-family: 'sans1';
    src: url('../font/REFSAN.TTF');
    font-family: 'sans2';
    src: url('../font/micross.ttf');
    font-family: 'sansBold';
    src: url('../font/REFSANB.TTF');
}
html,body{
    margin:0;
    width:100%;
    height:100%;
    font-family:'sans1','sans2',sans-serif;
    font-weight: normal;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
#div1,#div3{
    background-image:url('../img/zdjecie1.png'); 
    background-color: #cccccc; 
    height: 100%; 
    display:block;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    width:100%;
  }
  #div3{
    background-image:url('../img/zdjecie2.png'); 
    height:950px;
  }
  #spacer{
    width:100%;
    height:100%;
  }
  .stopka{
      text-align: center;
      color: #636260;
      background-color: #292928; 
      clear:both;
  }
  div p{
      color:grey;
      font-size:12px;
      line-height: 15px;
  }
  .stopka p{
      padding:20px;
      margin:0;
      font-size:12px;
  }
  .obr{
      width:100%;
  }
  .button{
      background-color: #ffbb68;
      color:white;
      border:none;
      font-size:12px;
      font-family: 'sansBold';
      width:140px;
      height:45px;
  }
  #insta .head{
      margin-top:300px;
  }
  .margines{
      margin-top:70px;
  }
  .white{
      color:white;
  }
  .white:hover{
      color:white;
      text-decoration: none;
  }
  .link{
      font-size:16px;
  }
  .left{
      text-align: left;
  }
  .center{
      text-align: center;
  }
  .big{
      width:240px;
  }
  .kontaktNad{
      display: flex;
      align-items:center;
  }
  .kontakt{
      width:40px;
      height:40px;
      background:#ffbb68 center center;
      background-repeat: no-repeat;
      background-size:50%;
      border-radius: 100%;
      display: inline-block;
  }
  .kom{
    background:url('../img/telefon.png');
    background-size:50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .mail{
    background:url('../img/email.png');
    background-size:50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .lokal{
    background:url('../img/lokalizacja.png');
    background-size:50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .godzina{
    background:url('../img/godzina.png');
    background-size:50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .insta{
    background:url('../img/instagram.png');
    background-size:50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .facebook{
    background:url('../img/facebook.png');
    background-size:30%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .marginesLinki{
      margin-bottom: 10px;
  }
  